.contact-page {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding-top: 70px;
    padding-bottom: 80px;
}

.contact-container {
    width: 733px;
    height: 486px;
    position: relative;
    background: #870505;
}

.contact-container_border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 20px;
    border: 1px solid #e7e3da; 
    background: transparent; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    pointer-events:visible;
}

.contact-title {
    margin-top: 52px;
    vertical-align: middle;
    color: #ffffff;
    font-size: clamp(30px, 4.685vw, 40px);
    font-family: 'Times New Roman', sans-serif;
    line-height: 1.4;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.contact-description {
    vertical-align: middle;
    color: #ffffff;
    font-size: clamp(12px, 1.875vw, 15px);
    font-family: Arial, sans-serif;
    line-height: clamp(23px, 3.59vw , 28px);
    font-weight: 600;
    width: clamp(255px, 53.125vw, 485px);
    margin-top: 25px;
}

.contact-name {
    font-family: Hamiltoneg, sans-serif;
    color: #fff;
    font-size: clamp(36px, 4.16vw, 48px);
    line-height: 1.33;
    font-weight: 100;
    margin-top: 26px;
    margin-bottom: 44px;
}

.contact-button {
    width: 288px;
    height: 60px;
    color: #870505;
    font-size: clamp(12px, 2.5vw, 14px);
    font-family: Arial, sans-serif;
    line-height: 1.55;
    font-weight: 100;
    text-transform: uppercase;
    border: 0;
    background-color: #ffffff;
    cursor: pointer;
}

@media (width < 1200px) {
    .contact-page {
        padding-top: 40px;
        padding-bottom: 50px;
    }
}

@media (width < 960px) {
    .contact-page {
        padding: 0;
    }

    .contact-container {
        width: 100%;
    }
}

@media (width < 480px) {
    .contact-button {
        width: 221px;
        height: 45px;
    }
}

