.form-page {
  width: 100%;
  height: 100%;
  padding: 26px 20px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
}

.form-title {
  text-align: center;
  color: #8b0000; 
  vertical-align: middle;
  font-size: clamp(30px, 4.685vw, 40px);
  font-family: 'Times New Roman', sans-serif;
  line-height: 1.4;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.form-text {
  text-align: center; 
  margin-bottom: 48px;
  width: clamp(245px, 38.28vw, 333px);
  font-size: clamp(15px, 2.3vw , 18px);
  color: #4b4b4b;
  font-family: 'Times New Roman', sans-serif;
  line-height: clamp(23px, 3.59vw , 28px);
  vertical-align: middle;
  font-weight: 300;
  justify-self: center;
}

.form-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.form-section_title {
  margin-bottom: 10px;
  line-height: clamp(23px, 3.593vw, 31px);
  vertical-align: middle;
    color: #4b4b4b;
    font-size: clamp(16px, 2.5vw , 20px);
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}

.form-title_name {
  margin-bottom: 0;
}

.form-radio {
  -webkit-appearance: none; /* Убираем стандартный вид для Safari и Chrome */
  -moz-appearance: none; /* Убираем стандартный вид для Firefox */
  appearance: none; /* Убираем стандартный вид */
  border: 2px solid #000; /* Цвет границы по умолчанию */
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  height: 20px;
  opacity: 0.6;
  position: relative;
  vertical-align: middle;
  width: 20px;
  cursor: pointer;
  outline: none; 
}

.form-checkbox {
  -webkit-appearance: none; /* Убираем стандартный вид для Safari и Chrome */
  -moz-appearance: none; /* Убираем стандартный вид для Firefox */
  appearance: none; /* Убираем стандартный вид */
  border: 2px solid #000;
  box-sizing: border-box;
  display: inline-block;
  height: 20px;
  opacity: 0.6;
  position: relative;
  transition: all 0.2s;
  vertical-align: middle;
  width: 20px;
  outline: none;
}

.form-radio:checked {
  opacity: 1; /* Полная непрозрачность при выборе */
  border-color: #000; /* Цвет границы при выборе */
}

.form-checkbox:checked {
  opacity: 1; /* Полная непрозрачность при выборе */
  border-color: #000; /* Цвет границы при выборе */
}

.form-radio::after {
  background: #000; /* Цвет внутреннего круга */
  border-radius: 50%;
  bottom: 0;
  content: "";
  height: 10px;
  left: 0;
  margin: auto;
  opacity: 0; /* Скрываем по умолчанию */
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.2s;
  width: 10px;
}

.form-checkbox::after {
  border: solid #000;
  border-width: 0 2px 2px 0;
  content: "";
  height: 8px;
  left: 6px;
  position: absolute;
  top: 2px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 3px;
  opacity: 0;
}

.form-radio:checked::after {
  opacity: 1;
}

.form-checkbox:checked::after {
  opacity: 1;
}

.form-label {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  font-size: clamp(12px, 1.875vw, 15px);
  line-height: 1;
  color: #4b4b4b;
  letter-spacing: 0.5px;
}

.form-section_textarea_container {
  border-bottom: 1px solid black;
  outline: none;
  height: 40px;
}

.form-section_textarea {
  -webkit-appearance: none; /* Убираем стандартный вид для Safari и Chrome */
  -moz-appearance: none; /* Убираем стандартный вид для Firefox */
  appearance: none; /* Убираем стандартный вид */
  resize: none;
  height: 100%;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
  width: 100%;
  color: black;
  padding-top: 10px;
}

.form-section_textarea::placeholder {
  color: #666;
  font-size: clamp(12px, 2.5vw, 16px);
  white-space: nowrap;
  overflow: hidden;
}

.submit-button {
  display: block;
  justify-self: center;
  width: 200px;
  height: 60px;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #4b4b4b;
  border: 1px solid #4b4b4b;
  text-transform: uppercase;
  background: #fff;
  font-weight: 100;
}

.submit-button:hover {
  background-color: #f0f0f0;
}

@media (width < 640px) {
  .submit-button {
    width: 100%;
  }
}

@media (width < 480px) {
  .form_text {
    width: 270px;
  }
}
