.gallery-page {
    text-align: center;
    height: 100%;
    width: 100%;
    position: relative;
    background: #fff;
    padding-top: 102px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gallery-title {
    color: #870505;
    font-size: clamp(30px, 4.685vw, 40px);
    font-family: 'Times New Roman', sans-serif;
    line-height: 1.15;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 54px;
    width: 705px;
  }


  .gallery-line {
    width: 230px;
    height: 2px;
    opacity: 0.3;
    background-color: #4b4b4b;
    border-color: transparent;
    border-style: solid;
  }


  .gallery-text {
    max-width: 573px;
    color: #4b4b4b;
    font-size: clamp(15px, 2.3vw , 18px);
    font-family: 'Times New Roman', serif;
    line-height: clamp(23px, 3.59vw , 28px);
    font-weight: 300;
    margin-top: 72px;
    margin-bottom: 72px;
  }
  
 

  @media (width < 1200px) {
    .gallery-page {
      padding-top: 52px;
    }
    .gallery-title {
      width: 641px;
      margin-bottom: 62px;
    }

    .gallery-text {
      width: 524px;
      margin-bottom: 104px;
      margin-top: 56px;
    }

  }

  @media (width < 960px) {
    .gallery-title {
      width: 406px;
    }

    .gallery-text {
      width: 427px;
      margin-top: 48px;
      margin-bottom: 72px;
    }

    .gallery-line {
      width: 200px;
    }
  }
@media (width < 640px) {
  .gallery-title {
    width: 272px;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0px;
    margin-bottom: 40px;
  }

  .gallery-text {
    width: 303px;
    font-size: 15px;
    line-height: 23px;
    margin-top: 44px;
  }

  .gallery-line {
    width: 80px;
  }
}
  @media (width < 480px) {
    .gallery-title {
      width: 252px;
      font-size: 30px;
      line-height: 42px;
      letter-spacing: 0px;
      margin-bottom: 50px;
    }

    .gallery-text {
      width: 300px;
      font-size: 15px;
      line-height: 22px;
      margin-top: 30px;
      margin-bottom: 45px;
    }

    .gallery-line {
      width: 100px;
      height: 1px;
    }
  }