.gallery-inner {
    white-space: nowrap; /* Убирает перенос строк */
    display: flex; /* Позволяет фотографиям размещаться в одну строку */
    animation: gallery 40s linear infinite; /* Анимация прокрутки */
    max-width: 100vw;
  }

  .gallery-inner:hover {
    animation-play-state: paused; /* Останавливает анимацию при наведении */
}
  
  .gallery-image {
    width: clamp(160px, 25vw, 640px); /* Ширина каждой фотографии */
    aspect-ratio: 1.33/1;
    margin: 0; /* Отступы между фотографиями */
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  

  .gallery-image:hover {
    transform: scale(1.05); /* Увеличивает изображение при наведении */
}
  
  @keyframes gallery {
    from {
      transform: translateX(0); /* Начальное положение */
    }
    to {
      transform: translateX(-600%); /* Конечное положение */
    }
  }

  @media (width < 960px) {
    .gallery-image {
        height: 250px;
    }

  @media (width <= 640px) {
    .gallery-image {
        height: 250px;
        width: 250px;
    }
  }  
  }