* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Arial", sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow-y: scroll;
  max-width: 100vw;
  overflow-x: hidden;
}

.app {
  max-width: 100vw;
  height: 100%;
  overflow: hidden;
}

.background {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('/public/photo1.jpg') no-repeat center/cover;
  background-position: center calc(50% + 300px);
  filter: brightness(0.8);
  z-index: 1;
  transition: opacity 0.5s ease;
  min-height: 550px;
}

.background.unlocked {
  opacity: 0; /* Плавное исчезновение фона */
  pointer-events: none;
}

.current-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 2;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.current-page {
  opacity: 1;
}

.current-page.unlocked {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.9); /* Исчезновение текущей страницы */
}

@media (width < 1000px) {
  .background {
    background-position: center center;
  }
}
