.wishes-page { 
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 56px 0 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.wishes-title {
    margin-bottom: 48px;
    vertical-align: middle;
    color: #870505;
    font-size: clamp(30px, 4.685vw, 40px);
    font-family: 'Times New Roman', sans-serif;
    line-height: 1.4;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.wishes-text{
    margin-bottom: 40px;
    width: clamp(269px, 56vw, 440px);
    vertical-align: middle;
    color: #4b4b4b;
    font-size: clamp(15px, 2.3vw , 17px);
    font-family: 'Times New Roman', sans-serif;
    line-height: clamp(23px, 3.59vw , 28px);
    font-weight: 300;
}

.wishes-line {
    display: block;
    width: 230px;
    height: 2px;
    background: #4b4b4b;
    border: 0;
    opacity: 0.3;
}

.wishes-text_bottom {
margin-top: 40px;
margin-bottom: 57px;
}

.wishes-photo {
    width: 500px;
    height: 500px;
    background: url(../../public/photo7.jpg) center/cover;
    position: relative;
    z-index: 1;
}

.wishes-description_container {
    width: 398px;
    height: 202px;
    background-color: #870505;
    position: relative;
    top: -25px;
} 

.wishes-description_border {
    margin: 20px;
    border: 1px solid #e7e3da;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: end;
}

.wishes-description_text {
    display: block;
    width: clamp(217px, 22.6vw, 256px);
    margin: 0 auto 25px;
    color: #fff;
    font-size: clamp(15px, 3.125vw, 18px);
    font-family: 'Times New Roman', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}

.custom-font {
    font-family: Hamiltoneg, sans-serif;
    font-size: 36px;
    line-height: 24px;
    text-transform: lowercase;
    font-weight: 100;
    margin: 0 5px;
}

@media (width < 960px) {
    .wishes-line {
        width: 200px;
    }

    .wishes-photo {
        width: 450px;
        height: 450px;
    }

    .wishes-description_container {
        width: 321px;
        height: 184px;
    }

}

@media (width < 640px) {
    .wishes-line {
        width: 80px;
    }

    .wishes-photo {
        width: 400px;
        height: 400px;
    }

    .wishes-description_border {
        margin: 10px;
    }
}

@media (width < 480px) {
    .wishes-line {
        width: 100px;
    }

    .wishes-photo {
        width: 100vw;
        height: 447px;
    }

    .wishes-description_container {
        width: 268px;
        height: 188px;
    }
    
    .wishes-description_border {
        margin: 10px;
    }
}